<DOCTYPE html>
  <html>
    <body>
      <link rel='stylesheet' href='style.css'> 
      <div class='main'></div>
       <h2 class='text'>
        <% if @game.current_turn == @game.player2 %>
        <%= @game.player1.name %> attacked <%= @game.player2.name %>
        <%= @game.player2.name %>'s hp reduced by 10
        <% else %>
        <%= @game.player2.name %> attacked <%= @game.player1.name %>
        <%= @game.player1.name %>'s hp reduced by 10
        <% end %>
      <br>
      <a href="/play">OK</a>
      </h2>
    </div>
    </body>
  </html>



